{% load staticfiles %}
body {
    padding-top: 40px;
    background-color: #F9F9F9;
}
.nav {
    background-color: #F1F1F1;
}
.hero-block {
    /* why can't I load the static file? */
    /*background-image: url({% static 'bank_app/img/piggy.jpg' %});*/
    /*background-image: url(https://www.dropbox.com/s/dvg5v6q23heyggt/piggy.jpg?raw=1);*/
    background-image: url('/static/bank_app/img/piggy.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    height: 160px;
    position: relative;
    border-bottom: 3px solid #E48176;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.t-detail td {
    font-size: 3em;
}
.bank_form {
}
.form-center {
    padding: 25px 25px 25px 25px;
    margin: 50px auto;
    width: 45%;
    border: 3px solid #E48176;
    border-radius: 40px;
}
.trans-form {
    width: 45%;
}
