{% extends "base.html" %}

{% block body %}
    <br>
    <hr>
    <h1>{{ not_auth }}</h1>
    <table class="table t-detail">
        <tr>
            <td><strong>Date/Time: </strong></td>
            <td>{{ object.date }}</td>
        </tr>
        <tr>
            <td><strong>Payee:</strong></td>
            <td>{{ object.payee }}</td>
        </tr>
        <tr>
            <td><strong>Amount: </strong></td>
            <td>{{ object.transaction_type }} ${{ object.amount }}</td>
        </tr>
    </table>
    <hr>
{% endblock %}
