{% extends "base.html" %}
{# Maybe dont need this.....#}
{% block body %}
    <form class="form-center trans-form text-center" action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>Transfer funds to this account: <br>{{ form.payee.errors }}</p>
        <p>{{ form.payee }}</p>
        <p>Transfer this amount: <br>{{ form.amount.errors }}</p>
        <p>{{ form.amount }}</p>
        <br>
        <input class="btn btn-default" type="submit" name="add" value="Transfer Funds">
    </form>
{% endblock %}
