{% extends "base.html" %}

{% block body %}
        <h1 class="pull-right"><small>Account Balace: </small>${{ balance }}</h1>
        <p><strong>Name: </strong>{{ request.user }}</p>
        <p><strong>Account Number: </strong>{{ request.user.id }}</p>
        <br>
        <h3>Transactions from the last 30 days</h3>
        <br>
        <table class="table table-condensed">
            <tr>
                <th>Date</td>
                <th>Payee</td>
                <th></td>
                <th>Ammount</td>
                    <th></td>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.payee }}</td>
                <td>{{ transaction.transaction_type }}</td>
                <td>${{ transaction.ammount }}</td>
                <td><a class="btn btn-default" href="{% url 'detail_view' transaction.id %}">Details</a></td>
            </tr>
            {% endfor %}
        </table>


{% endblock %}
